@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);
@import url(http://fonts.googleapis.com/css?family=Milonga);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
body {
  background-image: url('../media/grey_wash_wall.png');
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
li {
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
  letter-spacing: 2px;
  display: inline;
  background-image: url('../media/debut_dark.png');
  padding: 2px 17px;
  border: 1px solid #505251;
  border-radius: 10px;
  margin: 6px;
  box-shadow: 1px 1px #7E807F;
}
a {
  text-decoration: none;
  color: #acabab;
}
a:hover {
  text-decoration: underline;
  color: #0c0c0c;
  font-weight: bold;
  font-size: 23px;
}
h1 {
  font-family: 'Milonga', cursive;
  font-size: 45px;
  text-decoration: underline;
  text-align: center;
  color: #282828;
}
#container {
  background-image: url('../media/debut_dark.png');
  width: 50%;
  height: 500px;
  float: left;
  margin: auto;
  padding: 50px 10px;
  border-radius: 9px;
}
h2 {
  font-family: 'Milonga', cursive;
  font-size: 30px;
  text-align: center;
  color: #acabab;
}
#display {
  border: 2px solid black;
  width: 200px;
  height: 50px;
  margin: auto auto 20px auto;
  font-family: 'Share Tech Mono';
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  border-radius: 4px;
  background-image: url('../media/grey_wash_wall.png');
}
#input {
  width: 25%;
  height: 10%;
  margin: 5%;
  border-radius: 3px;
  background-image: url('../media/grey_wash_wall.png');
  box-shadow: 3px 3px 3px black;
  font-family: 'Share Tech Mono';
  font-size: 25px;
  text-align: right;
}
.btn {
  background-image: url('../media/grey_wash_wall.png');
  font-family: 'Milonga', cursive;
  margin: 5%;
  width: 20%;
  height: 10%;
  border-radius: 7px;
  font-size: 20px;
  box-shadow: 3px 3px 3px black;
}
#ledger {
  background-image: url('../media/debut_dark.png');
  color: #acabab;
  border: 1px solid black;
  border-collapse: collapse;
  width: 40%;
  margin: 20px auto;
  border-radius: 9px;
}
th {
  border: 2px solid black;
  width: 25%;
  padding: 10px;
  border-radius: 9px;
  font-family: 'Milonga', cursive;
  font-size: 22px;
}
td {
  border: 1px solid black;
  width: 25%;
  padding: 10px;
  text-align: center;
  border-radius: 9px;
  font-family: 'Share Tech Mono';
  font-size: 30px;
}
.dep {
  color: #464e7a;
  font-size: 30px;
}
.wd {
  color: #933a3a;
  font-size: 30px;
}
.fee {
  color: #3b6041;
  font-size: 30px;
}
