doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Super Bank
    link(rel='stylesheet', href='./css/app.css')
  body
    ul
      li
        a(href='http://kelleystephens.com') Home
      li
        a(href='http://kelleystephens.com/about') About
      li
        a(href='http://kelleystephens.com/portfolio') Portfolio
      li
        a(href='http://kelleystephens.com/contact') Contact
    h1 Super Bank
    #container
      h2 Balance
      #display $1000
      input#input(type='text')
      button.btn#deposit Deposit
      button.btn#withdraw Withdraw

    table#ledger
        thead
          tr
            th Deposit
            th Withdraw
            th Fee
            th Balance
        tbody
          tr
            td
            td
            td
            td $1000
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/main.js')
